body {
    .choice {
        &__selector {
            background-color: map-get($colors-light, 'option-bg-color');
            box-shadow: map-get($colors-light, 'option-shadow');
        }

        &__icon {
            &__text {
                color: $grey-navy;
            }
        }
    }

    &.dark-theme {
        .choice {
            &__selector {
                background-color: map-get($colors-dark, 'option-bg-color');
                box-shadow: map-get($colors-dark, 'option-shadow');
            }

            &__icon {
                &__text {
                    color: $grey-navy;
                }
            }
        }
    }
}

.choice {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;

    &__selector {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-bottom: 0.6125rem;
        min-height: 66px;
        padding: 0 12px;
        border-radius: 0.5rem;
        border: 3px solid transparent;
        background-color: $white;
        transition: border 0.2s ease-in-out;

        &--pass,
        &--fail {
            position: relative;
        }

        &--pass:after,
        &--fail:after {
            text-align: center;
            line-height: 1;
            position: absolute;
            right: 0;
            top: 0;
            width: 22px;
            height: 22px;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            background-size: contain;
            background-repeat: no-repeat;
            padding: 4px;
            transform: translate(-33%, 56%);
        }

        &--pass:after {
            content: '';
            background-image: url('../assets/images/check.svg');
        }

        &--fail:after {
            content: '';
            background-image: url('../assets/images/cross.svg');
        }

        &--pass {
            .choice__icon {
                background-color: $green;

                &__text {
                    color: $white;
                }
            }
        }

        &--fail {
            border-color: $red;

            .choice__icon {
                background-color: $red;

                &__text {
                    color: $white;
                }
            }
        }

        &:hover {
            .choice__icon {
                background-color: $purple;

                &__text {
                    color: $white;
                }
            }

            border-color: $purple;
        }
    }

    &__title {
        margin-top: 0.356875rem;
    }

    &__icon {
        margin-top: 0.356875rem;
        max-width: 35px;
        min-height: 35px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        margin-right: 1.1rem;
        transition: background-color 0.2s ease-in-out;
        background-color: $light-grey;

        &--selection:hover {
            background-color: $purple;
            color: $white;
        }

        &--html {
            background-color: $html-bg-color;
        }

        &--css {
            background-color: $css-bg-color;
        }

        &--js {
            background-color: $js-bg-color;
        }

        &--ada {
            background-color: $ada-bg-color;
        }
    }
}

@media (min-width: 768px) {
    .choice {
        margin-top: 4rem;

        &__selector {
            min-height: 84px;
            margin-bottom: 1.25rem;
        }

        &__icon {
            margin-right: 1.8rem;
            max-width: 56px;
            min-height: 56px;

            svg {
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }
}

@media (min-width: 1440px) {
    .choice {
        margin-top: 0;

        &__selector {
            max-width: 564px;
            margin-left: 23px;
            margin-bottom: 1.2rem;
            min-height: 100px;
        }
    }
}