body {
    .results {
        background-color: map-get($colors-light, 'option-bg-color');
        box-shadow: map-get($colors-light, 'option-shadow');

        &__small {
            color: map-get($colors-light, 'secondary-text-color')
        }
    }

    &.dark-theme {
        .results {
            background-color: map-get($colors-dark, 'option-bg-color');
            box-shadow: map-get($colors-dark, 'option-shadow');

            &__small {
                color: map-get($colors-dark, 'secondary-text-color')
            }
        }
    }

}

.results {
    text-align: center;
    min-height: 240px;
    margin-bottom: 0.9rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    &__icon {
        margin-top: 0;
        max-width: 40px;
        min-height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        margin-right: 1rem;
        transition: background-color 0.2s ease-in-out;

        &--html {
            background-color: $html-bg-color;
        }

        &--css {
            background-color: $css-bg-color;
        }

        &--javascript {
            background-color: $js-bg-color;
        }

        &--accessibility {
            background-color: $ada-bg-color;
        }
    }

    &__row {
        display: flex;
        justify-content: center;
        align-items: center;

        &--row-1 {
            padding: 1.9rem 0 0;
        }

        &--row-2 {
            padding: 1rem 0 0;
        }

        &--row-3 {
            padding: 0.9rem 0 0;
        }
    }
}

@media (min-width: 768px) {
    .results {
        display: block;
        min-height: 400px;

        &__icon {
            max-width: 51px;
            min-height: 51px;
            margin-right: 1.7rem;

            svg {
                width: 40px;
                height: 40px;
            }
        }

        &__row {
            &--row-1 {
                padding: 3.2rem 0 0;
            }

            &--row-2 {
                padding: 2.8rem 0 0;
            }
        }
    }
}