// Define a color map for light theme
$colors-light: (
    primary-text-color: $dark-navy,
    secondary-text-color: $grey-navy,
    bg-color: $light-grey,
    option-bg-color: $white,
    ellipse-bg-color: $white,
    ellipse-border-color: $ellipse-light,
    option-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14),
    theme-icon-color: $grey-navy,
    success: $green,
    failure: $red,
    primary: $purple,
    hover: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%) $purple,
);

// Define a color map for dark theme
$colors-dark: (
    primary-text-color: $white,
    secondary-text-color: $light-blue,
    bg-color: $dark-navy,
    option-bg-color: $navy,
    ellipse-bg-color: $dark-navy,
    ellipse-border-color: $ellipse-dark,
    option-shadow: 0px 16px 40px 0px rgba(49, 62, 81, 0.14),
    theme-icon-color: $white,
    success: $green,
    failure: $red,
    primary: $purple,
    hover: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%) $purple,
);

body {

    // Theme colors
    background-color: map-get($colors-light, 'bg-color');
    color: map-get($colors-light, 'primary-text-color');

    // Typography Theme Switching
    .text-heading-s {
        color: map-get($colors-light, 'primary-text-color');
    }

    .text-body,
    .text-body-italic {
        color: map-get($colors-light, 'secondary-text-color');
    }

    &.dark-theme {
        background-color: map-get($colors-dark, 'bg-color');
        color: map-get($colors-dark, 'primary-text-color');

        .text-heading-s {
            color: map-get($colors-dark, 'primary-text-color');
        }

        .text-body,
        .text-body-italic {
            color: map-get($colors-dark, 'secondary-text-color');
        }

    }

}