// import font from fonts file 
@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

// Font family
$font-family-base: 'Rubik', sans-serif;
// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;

// Font sizes
$font-size-display: 5.5rem; // 88px
$font-size-heading-l: 2.5rem; // 40px
$font-size-heading-m: 1.25rem; // 20px
$font-size-heading-s: 1.75rem; // 28px

$font-size-body: 0.875rem; // 14px

// Line heights
$line-height-heading: 1; // 100%
$line-height-body: 1.5; // 150%

// Style variations
$font-style-italic: italic;

// Text styles
.text-display {
    font-family: $font-family-base;
    font-size: $font-size-display;
    line-height: $line-height-heading;
    font-weight: $font-weight-medium;
}

.text-heading-l {
    font-family: $font-family-base;
    font-size: $font-size-heading-l;
    line-height: $line-height-heading;
    font-weight: $font-weight-medium;
}

.text-heading-l-fwlight {
    font-family: $font-family-base;
    font-size: $font-size-heading-l;
    line-height: $line-height-heading;
    font-weight: $font-weight-light;
}

.text-heading-m {
    font-family: $font-family-base;
    font-size: $font-size-heading-m;
    line-height: $line-height-heading;
    font-weight: $font-weight-medium;
}

.text-heading-s {
    font-family: $font-family-base;
    font-size: $font-size-heading-s;
    line-height: $line-height-heading;
    font-weight: $font-weight-medium;
}

.text-body {
    font-family: $font-family-base;
    font-size: $font-size-body;
    line-height: $line-height-body;
    font-weight: $font-weight-regular;
}

// Media queries for specific breakpoints
@media (min-width: 768px) {

    .text-display {
        font-size: 9rem; // 144px
    }

    .text-heading-l,
    .text-heading-l-fwlight {
        font-size: 4rem; // 64px
    }

    .text-heading-m {
        font-size: 2.25rem; // 36px
    }

    .text-heading-s {
        font-size: 1.75rem; // 28px
    }

    .text-body {
        font-size: 1.25rem; // 20px
    }
}

@media (min-width: 1024px) {

    .text-display {
        font-size: 11rem; // 176px
    }

    .text-heading-l,
    .text-heading-l-fwlight {
        font-size: 4rem; // 64px
    }

    .text-heading-m {
        font-size: 2.25rem; // 36px
    }

    .text-heading-s {
        font-size: 1.75rem; // 28px 
    }

    .text-body {
        font-size: 1.25rem; // 24px
    }
}